body {
    background-color: seagreen;
}

.pets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.p{
    margin: 2em;
}

.pet img {
    width: 350px;
    height: 350px
}

.pet-type {
    text-transform: uppercase;
}